{% extends 'layout.html' %}

{% block content %}


      <div style="color: white" align="center">
        <img src="{{ url_for('static',filename='codelogo.png') }}">
        <h1 >Share Bear</h1>
        <p>Share and execute codes in any platform with ease. </p>
      </div>
    <h3 align="center">Let us know your suggestions and reviews</h3>
    <section align="center" class="content contact-us">
    <p><a target="_blank" href="mailto: nivethsarandev@gmail.com"> nivethsarandev@gmail.com</a> (Developer)</p>
    <p><a target="_blank" href="https://github.com/nivethsaran/ShareBear"> Github Repo</a> (Open to contributions)</p>
        <p><a target="_blank" href="https://nivethsaran.github.io"> Developer Portfolio</a></p>
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="nivethsaran" data-color="#40DCA5" data-emoji="" data-font="Lato" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    <div>
        <p>Thanks to icons by <a target="_blank" href="https://icons8.com">Icons8</a>
        </p>
    </div>
    </section>
{% endblock %}